<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;align-items: center" >
  <h1>
    Welcome to {{ title }}!
  </h1>
 
<input type="number" id="number" name="number" (keyup)="onKey($event)"/>
<button type="button" (click)="clickMe()">hi der</button><br>





<table border="1" class="centre-align">
  <th>Word</th>
  <th>Occurence count</th>
  <tr *ngFor="let word of list">
    <td>{{word.name}}</td>
    <td>{{word.val}}</td>
  </tr>
</table>

</div>
